<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.setting.ACTION.MANAGE_OVERLAY_PERMISSION"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <package android:name="com.applay.overlay"/>
        <package android:name="com.mercandalli.android.apps.bubble"/>
        <package android:name="com.lwi.android.flapps"/>
        <package android:name="com.fossor.panels"/>
        <package android:name="floatbrowser.floating.browser.float.web.window"/>
        <package android:name="com.miui.freeform"/>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_exam"
        android:label="Exam UPTD SMPN 2 Arosbaya"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="ExtraText,MissingPrefix">
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exam_spendubaya"
        tools:targetApi="31">
        <!-- Main Activity -->
        <receiver
            android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ScreenReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DeviceAdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- Kiosk Service -->
        <service android:name=".KioskService" />

        <activity
            android:name=".LoginPage"
            android:exported="true"
            android:theme="@style/Theme.Exam_spendubaya">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ErrorPage1"
            android:exported="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="false">
        </activity>
        <activity
            android:name=".ErrorPage2"
            android:exported="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="false">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:excludeFromRecents="true">
        </activity>

        <!-- Device Admin Receiver -->

    </application>
</manifest>